<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="DaoNguyen_Security">
        <sequence>
            <module name="DaoNguyen_Playground"/>
        </sequence>
    </module>
</config>
